# Dependências
node_modules/

# Ambiente
.env
.env.*

# Banco
*.db
*.sqlite
*.sqlite3

# WhatsApp Web JS
.wwebjs_auth/
.wwebjs_cache/
auth_info/

# Logs
logs/
*.log

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db